## 1. Функция на Python

Функция удаляет дубликаты в списке. Список не отсортирован. Необходимо сохранить порядок сортировки оригинального списка.

#### Решение

In [10]:
def uniquify_with_order(old_list):
    unique_list = []
    [unique_list.append(elem) for elem in old_list if not unique_list.count(elem)]
    return unique_list

#### Парочка тестов

In [11]:
list_1 = [1,2,3,1]
list_2 = [1, 3, 2, 1, 5, 3, 5, 1, 4]
list_3 = [1,1,1,1,1]
list_4 = []
list_5 = [2]
lists = [list_1, list_2, list_3, list_4, list_5]

In [12]:
for one_list in lists:
    print(str(one_list) + ' -> ' + str(uniquify_with_order(one_list)))

[1, 2, 3, 1] -> [1, 2, 3]
[1, 3, 2, 1, 5, 3, 5, 1, 4] -> [1, 3, 2, 5, 4]
[1, 1, 1, 1, 1] -> [1]
[] -> []
[2] -> [2]

#### Асимптотическая сложность

    проходим весь список за __O(n)__
    получаем каждый элемент за __O(1)__
    проверяем наличие в списке без дупликатов в худшем случае за __O(n)__

Итого:
    __O(n^2)__

## 2.Написать SQL запрос

Дана таблица *employees* всех сотрудников компании. Поля:

    full_name TEXT (PK),
    position TEXT,
    department TEXT.

Напиши запрос, выводящий все отделы, в которых меньше 5 разработчиков (position = 'Software Developer').

#### Тест

Для теста была создана следующая таблица:

CREATE TABLE employees
( 
    full_name TEXT, 
    position TEXT, 
    department TEXT  
); 


INSERT INTO employees (full_name, position, department) VALUES ('1', 'Software Developer', 'first');

INSERT INTO employees (full_name, position, department) VALUES ('2', 'John', 'Snow');

INSERT INTO employees (full_name, position, department) VALUES ('3', 'John', 'Snow');

INSERT INTO employees (full_name, position, department) VALUES ('4', 'Software Developer', 'first');

INSERT INTO employees (full_name, position, department) VALUES ('5', 'John', 'first');

INSERT INTO employees (full_name, position, department) VALUES ('6', 'Software Developer', 'first');

INSERT INTO employees (full_name, position, department) VALUES ('7', 'Software Developer', 'first');

INSERT INTO employees (full_name, position, department) VALUES ('8', 'Software Developer', 'first');

INSERT INTO employees (full_name, position, department) VALUES ('9', 'Software Developer', 'first');

INSERT INTO employees (full_name, position, department) VALUES ('10', 'John', 'Snow');

INSERT INTO employees (full_name, position, department) VALUES ('11', 'Software Developer', 'second');

INSERT INTO employees (full_name, position, department) VALUES ('12', 'Software Developer', 'second');

INSERT INTO employees (full_name, position, department) VALUES ('13', 'John', 'Snow');

INSERT INTO employees (full_name, position, department) VALUES ('14', 'John', 'Snow');

INSERT INTO employees (full_name, position, department) VALUES ('15', 'John', 'Snow');

#### Запрос

    SELECT department, COUNT(*)
        FROM employees
        WHERE position='Software Developer'
    GROUP BY department
      HAVING COUNT(*) < 5

#### Результат

    department	COUNT(*)
    second         2

Запрос выводит также количество разработчиков для наглядности.

## 3. Задача

Подкинули монету N раз. Кол-во случаев, когда выпал орёл, на 10% больше, чем кол-во случаев, когда выпала решка. При каком N мы можем сказать, что монета «нечестная» (орёл и решка выпадают с разной вероятностью)?

Пусть наша гипотеза будет "Монета честная". Порог значимости примем за 0.05 (5%).

Нам нужно, чтобы выпадение орлов в N бросках произошло с вероятностью меньше 0.05. Так как в условии сказано, что " Кол-во случаев, когда выпал орёл, на 10% больше, чем кол-во случаев, когда выпала решка",

Имеем: 

    #орел = 0.55 * N
    #решка = 0. 45 * N
  
По предположению, что монета верная, орел и решка выпадают с одинаковой вероятностью *p=0.5*.
Надо подобрать количество выпаданий орла __n__, такое, что *p^n* < 0.05

Путем подбора:

    0.5^3 = 0.125
    0.5^4 = 0.0625
    0.5^5 = 0.03125 < 0.05, подходит!

Следовательно, орел должен выпасть как минимум 5 раз.

Получается:

        5 = 0.55 * N
        N = 5/0.55 = 9.09 = 10

Теперь гипотеза "Монета честная" не соответствует критерию значимости, и её можно опровергнуть. Соответственно, монета не является честной.
        
Ответ: N = 10.

                                                   Спасибо!